{% extends "main.html" %}

{% block contents %}
<table class="table">
    <form name="form" id="loginForm" action="{{url_for('member.member_login')}}" method="POST">
        {% if next_url %}
            <input type="hidden" name="next_url" value="{{next_url}}">
        {% endif %}
        <div class="form-group">
            <label for="email">이메일</label>
            <input class="form-control" type="text" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="pw">비밀번호</label>
            <input class="form-control" type="password" id="pw" name="pw">
        </div>
        <div class="text-right"><input class="btn btn-primary" id="loginBtn" type="submit" value="로그인"></div>
    </form>
</table>

<script>
    var email = $("#email");
    var pw = $("#pw");
    
    // 공백 체크
    var pattern = /\s/g;

    function checkForm() {
        console.log("checkForm() call....");

        if(email.val() == "" || email.val().match(pattern)) {
            alert("이메일을 입력해주세요!");
            email.focus();
            return false;
        } else {
            if(!validateEmail(email.val())) {
                alert("이메일 유효성이 올바르지 않습니다!");
                email.focus();
                return false;
            }
        }

        if(pw.val() == "" || pw.val().match(pattern)) {
            alert("비밀번호를 입력해주세요!");
            pw.focus();
            return false;
        }
        return true;
    }

    var loginBtn = $("#loginBtn");
    var loginForm = $("#loginForm");

    loginBtn.on("click", function(e) {

        if(!checkForm()) {
            e.preventDefault();
        } else {
            loginForm.submit();
        }
    });
</script>
{% endblock %}