{% extends "main.html" %}

{% block contents %}
<form name="form" id="writeForm" action="{{url_for('board.board_write')}}" method="POST">
    <div class="form-group">
        <label for="writer">작성자</label>
        <input class="form-control" id="name" type="text" name="name" value="{{session['name']}}" readonly>
    </div>
    <div class="form-group">
        <label for="title">제목</label>
        <input class="form-control" id="title" type="text" name="title" placeholder="제목 입력">
    </div>
    <div class="form-group">
        <label for="title">내용</label>
        <textarea class="form-control" id="contents" type="text" name="title" placeholder="내용 입력"></textarea>
    </div>
    <div class="text-right"><input class="btn btn-primary" id="writeBtn" type="submit" value="제출"></div>
</form>

<script>
    var contents = $("#contents");
    var title = $("#title");

    // 공백 체크
    var pattern = /\s/g;

    function checkForm() {
        console.log("checkForm() call....");

        if(title.val() == "" || title.val().match(pattern)) {
            alert("제목을 입력해주세요!");
            title.focus();
            return false;
        }

        if(contents.val() == "" || contents.val().match(pattern)) {
            alert("내용을 입력해주세요!");
            contents.focus();
            return false;
        }
        return true;
    }

    var writeBtn = $("#writeBtn");
    var writeForm = $("#writeForm");

    writeBtn.on("click", function(e) {

        if(!checkForm()) {
            e.preventDefault();
        } else {
            writeForm.submit();
        }
    });
</script>
{% endblock %}